js-map {
  font-size: 11px;
}
#map {
  float: left;
  width: 600px;
  height: 500px;
  svg {
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 10px;
    height: 10px;
    .big {
      fill: #ff0000;
      opacity: 0.3;
    }
    .small {
      fill: #ff0000;
    }
  }
}
#map-controls {
  float: right;
  width: 180px;
  height: 500px;
  padding: 20px;
}
#map-info {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -3px #000;
  border-radius: 5px;
  padding: 10px;
  display: none;
}