#map {
  float: left;
  width: 600px;
  height: 475px;
  svg {
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 10px;
    height: 10px;
    .big {
      fill: #aaa;
      opacity: 0.2;
    }
    .small {
      fill: #aaa;
      opacity: 0.8;
    }
  }
}
#map-controls {
  float: right;
  width: 180px;
  height: 500px;
  padding: 20px;
  div {
    padding-left: 10px;
  }
  .radio {
    height: 10px;
  }
  h2, h3, h4 {
    margin: 0px;
  }
}
#map-info {
  font-size: 11px;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 180px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -3px #000;
  border-radius: 5px;
  padding: 10px;
  display: none;
  .info-label {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
  }
  .info-text {
    padding-left: 10px;
  }
  .col-lg-6 {
    text-align: left;
    padding: 0px 5px;
  }
  .col-lg-6:first-of-type {
    text-align: right;
    font-weight: bold;
    padding: 0px 5px;
  }
}
.slader-handle {
  outline-color: #9d0000;
  background-color: #a50000;
  background-image: -webkit-linear-gradient(top, #c80000 0%, #ae0000 100%);
  background-image: linear-gradient(to bottom, #c80000 0%, #ae0000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc80000', endColorstr='#ffae0000', GradientType=0);
  filter: none;
}

#button-play {
  float: right;
  width: 150px;
  margin: 4px 10px;
  outline-color: #B60000;
  background-color: #C80000;
  border-color: #C00000;
}

#button-play:hover {
  background-color: #B60000;
  border-color: #AE0000;
}