<style>
 
</style>
<div id="main">
<h4> About RubyGovhackers </h4>
<img src="/images/ruby.jpg"/ width="20%" height="20%"><br/><br/>
<div align="center-align">
<p>Our project aims to illustrate climate trends by visualising temperatures over time, 
and potentially other time-series data, on a map of Australia. Record breaking temperatures, 
for example 'The highest maximum temperature for Perth in September since 1995', will be highlighted. </p>
<br/>
<p>For this version of the project, 
data is pulled from the ACORN-SAT data provided by BoM and CSIRO at data.gov.au.</p>
<br/>
<h5><b>Our project has two components with high cohesion and loose coupling:</b></h5>
<p>- The Visualiser uses D3, Angular.js and Google Maps to display the data, which it draws from an API provided by the Analyser.</p><br/>
<p>- The Analyser uses Ruby, Sinatra and MongoDB to fetch, analyse, cache and serve the data with a generic API, documented at the root level of the URL.
 The Analyser will cache a set of 10 year rolling data 
 (eg highest temperature in that month at that location for the last 10 years)
 to allow the highlighting of record breaking data.</p>
 </div>
 
 <div id="team" align="left" width="30%">
 <h3><b>Who we are?</b></h3>
 
 <h4>Analyser Team: </h4>
  - Mary-Anne Cosgrove <br/>
  - Timothy Cosgrove <br/>
  - Jarah Bloomfield <br/><br/>
 
 <h4>Visualiser Team: </h4>
  - Alex Ronald   <br/>
  - Max Grant   <br/>
  - Mojgan Honarvar
 
 </div>
 <div id="team-image"  align="right" width="50%">
 <img src="/images/team.jpg"/ width="60%" height="40%"><br/>
 </div>
 </div>