<div class="header" ng-controller="HeaderCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{ active: isActive('/')}"><a ng-href="#/">Home</a></li>
    <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
    <li ng-class="{ active: isActive('/alex')}"><a ng-href="#/alex">alex</a></li>
    <li ng-class="{ active: isActive('/max')}"><a ng-href="#/max">max</a></li>
    <li ng-class="{ active: isActive('/mojgan')}"><a ng-href="#/mojgan">mojgan</a></li>
  </ul>
  <h3 class="text-muted">Govhack Frontend</h3>
</div>
