<div id="map"></div>
<div id="map-controls">
<h3 id="display-date">&nbsp;</h3>

<div class="radio">
<label>
<input type="radio" id="min-temp" name="radio-temp" value="min-temp" />Min Temp
</label>
</div>
<div class="radio">
<label>
<input type="radio" id="max-temp" name="radio-temp" value="max-temp" checked />Max Temp
</label>
</div>

</div>
<input id="month-slader" class="slader" data-slader-min="0" data-slader-max="11" style="width: 100%;"/>
<input id="year-slader" class="slader" data-slader-min="1920" data-slader-max="2014" style="width: 100%;"/>
<div id="map-info">This is a test</div>