<js-map></js-map>
<div style="margin-top: 20px; clear: both;">
<h4>Climate Data Visualisation</h4>
<p>
This visualisations shows a hundred years of Australian climate data animated over google maps.
</p>
<p>
Each circle is a temperature record site with a circle indicating the current temperature using both size and colour. Semi-transparent halos surrounding these coloured circles indicate maximums of the preceeding 10 years.
</p>
<p>
Sites which flash in specific years/months indicate a record high for that location in the last 10 years.
</p>
</div>